.contenedorDeCardsYCategorías {
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

.contenedorDeCategorias {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

.botonCategoria {
    width: -webkit-fill-available;
    border: 3px solid #E55604;
    font-size: 20px;
    background-color: #E55604;
    color: #EBE4D1;
}

.botonCategoria:hover {
    color: #EBE4D1;
    cursor: pointer;
    background: linear-gradient(to right, #26577C, #B4B4B3, #B4B4B3, #26577C);
    background-size: 200% 100%;
    animation: AnimacionDelFondo 3s linear infinite;
}

.contenedorDeCardsYTitulo {
    display: flex;
    flex-direction: column;
    color: #E55604;
}

.contenedorDeCards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    height: 100%;
}

@keyframes AnimacionDelFondo {
    0% {
    background-position: 100% 0;
    }
    100% {
    background-position: -100% 0;
    }
}

@media screen and (max-width: 753px) {
    .contenedorDeCardsYCategorías {
        flex-direction: column;
        align-items: center;
    }

    .botonCategoria {
        width: 200px;
    }

    .botonCategoria:hover {
        border-color: #E55604;
        color: inherit;
        cursor: none;
        background: #E55604;
        background-size: auto;
        animation: none;
    }
    
}