* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: Anton;
  font-size: 40px;
}

h2 {
  font-family: Anton;
  font-size: 35px;
}

h3 {
  font-family: Anton;
  font-size: 30px;
}

p {
  font-size: 30px;
}

button {
  border-radius: 30px;
  font-family: cursive;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
}

button:active {
  box-shadow: none;
}